/*Variables*/
:root {
    --background-color: white;
    --font-color: black;
    --font-size-standar: 1.4rem;
    --image-size: 3.6rem;
    --font-family: Arial, Helvetica, sans-serif;
    --transparency: rgba(0, 0, 0, 0.15);
    --border-width: 0.05rem;
    --image-opacity: 0.25;
    --footer-color: #f2f2f2;
    --footer-font-color: #70757a;
}

/*default*/
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
}

body {
    display: flex;
    flex-flow: row wrap;
}

/*Header*/
header {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 6px;
}

header nav {
    width: 280px;
    display: flex;
    align-items: center;
}

header ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}

header li {
    text-decoration: none;
}

.header__gmail,
.header__imagenes {
    font-size: var(--font-size-standar);
    text-decoration: none;
    color: var(--font-color);
}

.header__gmail:hover,
.header__imagenes:hover {
    font-size: var(--font-size-standar);
    text-decoration: underline;
}

.header__menu,
.header__profile {
    width: var(--image-size);
    padding: 0.9rem;
    border-radius: 3.6rem;
}

.header__profile {
    width: var(--image-size);
    padding: 0.9rem;
    border-radius: 3.6rem;
    background-color: var(--footer-color);
}

.header__menu > img,
.header__profile > img {
    width: 100%;
    opacity: var(--image-opacity);
}


.header__menu:hover,
.header__profile:hover,
.header__menu:active,
.header__profile:active,
.header__menu:focus,
.header__profile:focus {
    background-color: var(--transparency);
    cursor: pointer;
}

/*main*/
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 6px 0;
}

/*main logo*/
.main__logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main__logo > figure {
    width: 30vw;
    padding: 6px;
    min-width: 220px;
}

.main__logo img {
    width: 100%;
}

/*Search engine*/
.main__search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 6px 0;
}

.search__bar {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-right-radius: 3.6rem;
    border-bottom-right-radius: 3.6rem;
    border-top-left-radius: 3.6rem;
    border-bottom-left-radius: 3.6rem;
    margin: 6px 0;
}

.search__bar:hover,
.search__bar:active,
.search__bar:focus {
    box-shadow: 0 0 10px var(--transparency);
}

.lupa, 
.mic {
    width: var(--image-size);
    padding: 0.9rem;
}

.lupa {
    border-top: solid var(--transparency);
    border-bottom: solid var(--transparency);
    border-left: solid var(--transparency);
    border-bottom-left-radius: 3.6rem;
    border-top-left-radius: 3.6rem;
    border-width: var(--border-width);
}

.mic {
    border-top: solid var(--transparency);
    border-right: solid var(--transparency);
    border-bottom: solid var(--transparency);
    border-bottom-right-radius: 3.6rem;
    border-top-right-radius: 3.6rem;
    border-width: var(--border-width);
}

.lupa > img,
.mic > img {
    width: 100%;
    opacity: var(--image-opacity);
}

.search {
    border-top: solid var(--transparency);
    border-right: none;
    border-bottom: solid var(--transparency);
    border-left: none;
    border-width: 0.05rem;
    width: 50vw;
    padding: 0 2.4rem;
}

.search:focus {
    outline: none;
    border-top: solid var(--border-width) var(--transparency);
    border-bottom: solid var(--border-width) var(--transparency);
}

/*Search buttons*/


/*footer*/
footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.footer__country {
    height: 4.8rem;
    width: 100%;
    background-color: var(--footer-color);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.footer__country > p {
    font-size: var(--font-size-standar);
    padding-left: 3.6rem;
    color: var(--footer-font-color);
}

.footer__about {
    width: 100%;
    background-color: var(--footer-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-top: var(--transparency) solid;
    border-width: var(--border-width);
}

.footer__about nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3.6rem;
}

.footer__about--generalul,
.footer__about--generalnav {
    width: 100%;
    max-width: 550px;
}

.footer__about--terminosul,
.footer__about--terminosnav {
    width: 100%;
    max-width: 390px;
}

.footer__about ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}

.footer__about li {
    text-decoration: none;
    height: 4.8rem;
    display: flex;
    align-items: center;
}

.footer__about a {
    font-size: var(--font-size-standar);
    text-decoration: none;
    color: var(--footer-font-color);
}

.footer__about a:hover,
.footer__about a:active {
    text-decoration: underline;
}
